<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mobmonkey.mobmonkey"
	android:versionCode="1"
	android:versionName="1.0" >
	
	<uses-sdk android:minSdkVersion="10"
		android:targetSdkVersion="15"/>
	
	<uses-feature android:glEsVersion="0x00020000"
		android:required="true"/>
	
	<permission android:name="com.mobmonkey.mobmonkey.permission.C2D_MESSAGE" 
	    android:protectionLevel="signature" />
	<uses-permission android:name="com.mobmonkey.mobmonkey.permission.C2D_MESSAGE" />
	
	<permission android:name="com.mobmonkey.mobmonkey.permission.MAPS_RECEIVE"
		android:protectionLevel="signature"/>
	<uses-permission android:name="com.mobmonkey.mobmonkey.permission.MAPS_RECEIVE"/>
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM connects to Google Services. -->
	<!-- <uses-permission android:name="android.permission.INTERNET" />  --> 
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<application android:icon="@drawable/app_icon"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar">
		<uses-library android:name="com.google.android.maps" />
		
		<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" 
		    android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.mobmonkey.mobmonkey" />
		  </intent-filter>
		</receiver>
	
	<service android:name="com.mobmonkey.mobmonkey.GCMIntentService" 
	    	 android:enabled="true"/>
	
		<activity android:name=".SignInScreen"
			android:screenOrientation="portrait">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			
        </activity>
		
		<activity android:name=".TwitterAuthScreen"
		    android:screenOrientation="portrait">

		</activity>
		
		<activity android:name=".SignUpScreen"
		    android:windowSoftInputMode="stateHidden"
		    android:screenOrientation="portrait">

		</activity>
		
		<activity android:name=".TermsofuseScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name="com.mobmonkey.mobmonkey.SignUpTwitterScreen"
		    android:windowSoftInputMode="stateHidden"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".MainScreen"
		    android:screenOrientation="portrait"
   		    android:windowSoftInputMode="adjustPan|adjustResize">
		    
		</activity>
		
		<activity android:name=".TrendingNowScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".InboxScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SearchScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".FilterScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SearchResultsScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SearchResultDetailsScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SearchLocationResultMapScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".MakeARequestScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".BookmarksScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SettingsActivity"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".AddLocationScreen"
		    android:windowSoftInputMode="stateHidden"
		    android:screenOrientation="portrait">
		    
		</activity>

		<activity android:name=".AddLocationMapScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".AddMessageScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".ScheduleRequestScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".CategoryListScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".SubscribeScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".TopViewedScreen"
		    android:screenOrientation="portrait">
		    
		</activity>
		
		<activity android:name=".OpenRequestsScreen"
		    android:screenOrientation="portrait"></activity>
				
		<meta-data android:value="@string/app_id_facebook" android:name="com.facebook.sdk.ApplicationId"/>
		<meta-data android:value="@string/app_google_api_key2" android:name="com.google.android.maps.v2.API_KEY"/>
		<activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
		<activity android:name="com.mobmonkey.mobmonkey.CategoryScreen" android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.mobmonkey.mobmonkey.AddLocationCategoryList" android:screenOrientation="portrait"></activity>
		
	</application>
	
</manifest>